/* Location */

.location-row2{

	height:400px;
	margin-top:-20px;
}

google-map {
    display: block;
    height: 350px;
  }
  
.location-r1c1{
	margin-left:0px;	
}

.location-row3{
	background-color:$uconn-blue;
	padding-bottom:40px;
	margin-top: 30px;
	padding-top: 30px;
	p:first-child{
		margin-left:90px;	
	}
	p{
		color:white;
		font-size:12pt;	
	}
	btn-navbar{
		top:20px;	
	}
}

@media only screen and (max-width:560px){
	.location-row3 {
		margin-bottom: 20px;
	}
}
