/* line 1, ../sass/footer.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 5, ../sass/footer.scss */
body {
  margin: 0 0 30px;
  /* bottom = footer height */
}

/* line 8, ../sass/footer.scss */
#uc-footer {
  background-color: #0F1938;
  position: absolute;
  left: 0;
  bottom: -50px;
  height: 30px;
  width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

/* line 19, ../sass/footer.scss */
#uc-footer .menu-item-object-page {
  display: none;
}

/* line 23, ../sass/footer.scss */
#uc-footer-links {
  position: relative;
  top: 20px;
}
